<section class="my-5">
  <div class="card shadow">
    <div class="card-body">
      <div class="row my-5 mx-4">
        <div class="col-lg-12">
          <form #form="ngForm" (submit)="onSubmit()">
            <div class="input-group">
              <input type="search"
                class="form-control form-control-lg text-lg" 
                name="search" 
                id="search" 
                [(ngModel)]="searchValue"
                aria-describedby="search"
                #search="ngModel" 
                placeholder="Buscar imagen"
                required>
                <button type="submit"
                 class="btn btn-primary btn-lg btn-block w-40 p-0 b-left-0"
                 [disabled]="form.invalid">
                  Buscar
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

