<div class="col">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body text-center">
      <a class="btn btn-primary text-uppercase" href="#" role="button">Ver imagen</a>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-6 text-center text-muted">
         <strong>Likes</strong>
         <p>1000</p>
        </div>
        <div class="col-lg-6 text-center text-muted">
          <strong>Vistas</strong>
          <p>500</p>
        </div>
      </div>
    </div>
  </div>
</div>