<div class="col h-100">
  <div class="card h-100">
    <img [src]="image.url" class="card-img-top h-45" alt="...">
    <div class="card-body text-center">
      <a class="btn btn-primary text-uppercase" [href]="image.url" target="_blank" role="button">Ver imagen</a>
    </div>            
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-6 text-center text-muted">
         <strong>Likes</strong>
         <p>{{ image.likes }}</p>
        </div>
        <div class="col-lg-6 text-center text-muted">
          <strong>Vistas</strong>
          <p>{{ image.views }}</p>
        </div>
      </div>
    </div>
  </div>
</div>